In [123]:
import pandas as pd
df = pd.read_csv("flight_plan_template2.csv", sep=";",header=0)

In [2]:
df

,uuid,status,request_time,active,takeoff_vertiport_id,landing_vertiport_id,name,flight_rules,type_flight,category_operation,...,aircraft_configuration,authorisation_number,session_id,emergency_alert,subscriptions,operator_id,pilot_id,aircraft_id,user_id,geometry
0,19af00d8-6546-4746-8fd7-ae20b6dcc3bf,FINALIZED,2024-02-19 10:26:56.603 +0100,False,NaN,NaN,DroneLab_01,VLOS,OTHER,OPEN,...,NaN,19af00d8-6546-4746-8fd7-ae20b6dcc3bf-ESP123578...,NaN,{},[],0162cef8-28c1-42a6-8f3a-72fba5740144,9f51f9ea-bbb9-4fd5-9d1c-fc4acf49865c,a515121f-bc69-45fc-8d75-a1b1b7cd9d20,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394126 43.330487 0, -8.394743 43..."
1,ad6e4369-21ee-465d-a30f-038de9cd8e7b,REJECTED,2024-02-19 10:28:11.469 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,ad6e4369-21ee-465d-a30f-038de9cd8e7b-ESP123578...,NaN,NaN,NaN,0b2056de-86a4-41d9-932b-faaa83ae49ff,3e1b8c16-05d1-4823-a30a-48081858c0a3,a66e0623-de9a-4308-8f39-e3228c7229fc,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394566 43.330536 0, -8.394735 43..."
2,0ac80e31-261c-4ec6-af3a-905819f7c671,REJECTED,2024-02-19 10:30:02.505 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,0ac80e31-261c-4ec6-af3a-905819f7c671-ESP123578...,NaN,NaN,NaN,00fe4788-1f3f-461c-bb45-df800e7750af,aaa17237-d7b2-4de5-9cec-4fd6321645f8,5d235cd4-ab96-4012-971b-6ccf7984eee2,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394582 43.330509 0, -8.394721 43..."
3,acedeb93-5ad4-48af-923a-ed2b5c958095,REJECTED,2024-02-19 10:30:55.806 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,acedeb93-5ad4-48af-923a-ed2b5c958095-ESP123578...,NaN,NaN,NaN,4933cd07-9a03-4964-bc6f-82dd8b80bf9b,64fe527f-fb76-4910-b59f-9eadde94eb20,9d66def1-84f3-455d-aee5-cde8a8416364,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394528 43.330589 0, -8.394598 43..."
4,c39c599f-cf8a-4e2f-96c8-5b9272abb7cc,REJECTED,2024-02-19 10:32:11.285 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,c39c599f-cf8a-4e2f-96c8-5b9272abb7cc-ESP123578...,NaN,NaN,NaN,393a6221-5731-456e-a9c9-01b1da8e7bc9,0e31b7b9-3826-416d-a14e-9f3f0ba981d4,b3a9b39d-3fb6-49a2-8246-cbca1628a161,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394542 43.330628 0, -8.394263 43..."
5,aff9b0c7-2cf3-4e15-ba53-9ab144239a87,FINALIZED,2024-02-19 10:34:29.482 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,aff9b0c7-2cf3-4e15-ba53-9ab144239a87-ESP123578...,NaN,{},[],8c3dbb51-d653-4f23-b7da-5c8d8825c5ce,86ed7269-f97e-4d60-91ef-3ac38da35525,ba1b887e-e964-466f-8ef8-6db5ad0e0995,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394544 43.330636 0, -8.39459 43...."
6,500a41d5-71b3-4c78-bbac-d243684fcdd9,WITHDRAWN,2024-02-19 10:54:12.321 +0100,False,NaN,NaN,DroneLab_01,VLOS,OTHER,OPEN,...,NaN,500a41d5-71b3-4c78-bbac-d243684fcdd9-ESP123578...,NaN,{},[],c6afd8ab-a3d6-48cf-aea0-19d00c11fb77,9194d8c5-3a96-429c-bd74-d9240d434ae2,a52cff66-c54a-465b-84d1-37486dba4909,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394126 43.330487 0, -8.394743 43..."
7,90492006-6748-41e9-b4f8-f3243618e7f9,CANCELLED,2024-02-19 10:55:12.559 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,90492006-6748-41e9-b4f8-f3243618e7f9-ESP123578...,NaN,NaN,[],f66449ab-1e38-4329-84be-202b0d9f4563,17c13a34-4fc4-40ad-b05c-6f7b54ef0187,a1d1b846-80a1-4dbd-b11a-6bf1642e2ed6,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394587 43.330586 0, -8.394692 43..."
8,bb7275b1-f5a0-49e6-b689-700d529e4f99,WITHDRAWN,2024-02-19 10:56:16.605 +0100,False,NaN,NaN,DroneLab_02,VLOS,OTHER,OPEN,...,NaN,bb7275b1-f5a0-49e6-b689-700d529e4f99-ESP123578...,NaN,{},[],fe08a303-b7e1-4963-b011-7c105fcdc287,05add243-baf3-4976-98a7-1a58e7868f5c,871aa02e-1d1d-4c0e-b949-715ac2289530,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394585 43.330514 0, -8.394756 43..."

In [32]:
df.columns

Index(['uuid', 'status', 'request_time', 'active', 'takeoff_vertiport_id',
       'landing_vertiport_id', 'name', 'flight_rules', 'type_flight',
       'category_operation', 'subcategory_operation', 'cruising_speed',
       'altitude_reference', 'emergency', 'connectivity',
       'identification_tech', 'contact', 'takeoff_time_EST',
       'landing_time_EST', 'uas_operator_registration',
       'aircraft_serial_number', 'uas_pilot_registration', 'priority',
       'controlled_ground_area', 'other_info', 'payload_type',
       'aircraft_configuration', 'authorisation_number', 'session_id',
       'emergency_alert', 'subscriptions', 'operator_id', 'pilot_id',
       'aircraft_id', 'user_id', 'geometry'],
      dtype='object')

In [ ]:
# Estas columnas han sido escogidas en modo de prueba, las he escogido porque me parecen relevantes.
print("Filtra por: 1.takeoff_vertiport_id, 2.landing_vertiport_id, 3.uas_operator_registration, 4.aircraft_serial_number, 5.priority"))

In [124]:
#Esto es una prueba de menú de selección. 
#El usuario podrá decidir que características tiene la operación y de esta manera se filtra la bd.
while True:
    #El usuario elige la opción
    x=int(input("Filtra: "))
    if x==3:
        #Filtra por operator_id
        op=input("Introduce el operador:")
        filtrado = df[df["operator_id"] == op]
    elif x==1: 
        #Filtra por takeoff
        toff=input("Introduce el vertiport de origen")
        filtrado = df[df["takeoff_vertiport_id"] == toff]
    elif x==2: 
        #Filtra por landing
        lan=input("Introduce el vertiport de destino")
        filtrado = df[df["landing_vertiport_id"] == lan]
    elif x==4:
        #Filtra por serial number
        air=input("Introduce el serial number del avión")
        filtrado = df[df["aircraft_serial_number"] == air]
    elif x==5:
        #Filtra por prioridad
        pri=input("Introduce el tipo de prioridad") 
        filtrado = df[df["priority"] == pri]
    else: 
        #Si el usuario selecciona otro número diferente, se sale del bucle y se da como finalizado el proceso de filtrado de la bd
        print("Final")
        break

Filtra:  3
Introduce el operador: 0162cef8-28c1-42a6-8f3a-72fba5740144
Filtra:  6

Final

In [125]:
# Compruebo que se guarda la opción introducida en la variable
op

'0162cef8-28c1-42a6-8f3a-72fba5740144'

In [126]:
# Imprime el df filtrado, en este caso solo aparece una columna ya que solo hay un operador con ese id.
filtrado["operator_id"]

0    0162cef8-28c1-42a6-8f3a-72fba5740144
Name: operator_id, dtype: object

In [127]:
filtrado

,uuid,status,request_time,active,takeoff_vertiport_id,landing_vertiport_id,name,flight_rules,type_flight,category_operation,...,aircraft_configuration,authorisation_number,session_id,emergency_alert,subscriptions,operator_id,pilot_id,aircraft_id,user_id,geometry
0,19af00d8-6546-4746-8fd7-ae20b6dcc3bf,FINALIZED,2024-02-19 10:26:56.603 +0100,False,NaN,NaN,DroneLab_01,VLOS,OTHER,OPEN,...,NaN,19af00d8-6546-4746-8fd7-ae20b6dcc3bf-ESP123578...,NaN,{},[],0162cef8-28c1-42a6-8f3a-72fba5740144,9f51f9ea-bbb9-4fd5-9d1c-fc4acf49865c,a515121f-bc69-45fc-8d75-a1b1b7cd9d20,4b1b3576-5e5b-4704-92b9-81777c75dd83,"POLYGON Z((-8.394126 43.330487 0, -8.394743 43..."

### Promedio y máximo de solicitudes por unidad de tiempo (1min)

In [44]:
#Pasa a un formato de fecha correcto
df["request_time"] = pd.to_datetime(df['request_time'], format='%Y-%m-%d %H:%M:%S.%f %z')

In [45]:
# Esta función genera un df en el que cada fila contiene el total de solicitudes en un minuto, desde que se hizo la primera.
df_minuto = df.groupby(pd.Grouper(key='request_time', freq='1Min')).size().reset_index(name='solicitudes')

In [46]:
df_minuto

                request_time  solicitudes
0  2024-02-19 10:26:00+01:00            1
1  2024-02-19 10:27:00+01:00            0
2  2024-02-19 10:28:00+01:00            1
3  2024-02-19 10:29:00+01:00            0
4  2024-02-19 10:30:00+01:00            2
5  2024-02-19 10:31:00+01:00            0
6  2024-02-19 10:32:00+01:00            1
7  2024-02-19 10:33:00+01:00            0
8  2024-02-19 10:34:00+01:00            1
9  2024-02-19 10:35:00+01:00            0
10 2024-02-19 10:36:00+01:00            0
11 2024-02-19 10:37:00+01:00            0
12 2024-02-19 10:38:00+01:00            0
13 2024-02-19 10:39:00+01:00            0
14 2024-02-19 10:40:00+01:00            0
15 2024-02-19 10:41:00+01:00            0
16 2024-02-19 10:42:00+01:00            0
17 2024-02-19 10:43:00+01:00            0
18 2024-02-19 10:44:00+01:00            0
19 2024-02-19 10:45:00+01:00            0
20 2024-02-19 10:46:00+01:00            0
21 2024-02-19 10:47:00+01:00            0
22 2024-02-19 10:48:00+01:00            0
23 2024-02-19 10:49:00+01:00            0
24 2024-02-19 10:50:00+01:00            0
25 2024-02-19 10:51:00+01:00            0
26 2024-02-19 10:52:00+01:00            0
27 2024-02-19 10:53:00+01:00            0
28 2024-02-19 10:54:00+01:00            1
29 2024-02-19 10:55:00+01:00            1
30 2024-02-19 10:56:00+01:00            1

In [52]:
print("Máximo de solicitudes por minuto: ", df_minuto["solicitudes"].max())

Máximo de solicitudes por minuto:  2

In [51]:
print("Promedio de solicitudes por minuto: ", df_minuto["solicitudes"].mean())

Promedio de solicitudes por minuto:  0.2903225806451613

### Promedio de planes de vuelo autorizados

In [ ]:
#Todos los vuelos que no hayan sido rechazados son autorizados, a pesar de que más adelante se cancelen.
#Por lo tanto se hace el porcentaje de vuelos rechazados sobre el total.

In [121]:
rechazados=(df["status"]=="REJECTED").sum()
total=df.shape[0]
prom=(1-(rechazados/total))*100

In [122]:
print("Promedio de planes de vuelo autorizados: {:.2f}%".format(prom))

Promedio de planes de vuelo autorizados: 55.56%

### Promedio y máximo de UAS volando simultaneamente en el mismo espacio aéreo.

In [21]:
#Se cogen estas dos columnas del df y se asigna cada una a una variable
columna1 = df['takeoff_time_EST'] 
columna2 = df['landing_time_EST'] 

# Crear una columna que indica el origen de cada valor
origen = ['despegue'] * len(columna1) + ['aterrizaje'] * len(columna2)

# Concatenar las dos columnas una encima de la otra
nueva_columna = pd.concat([columna1, columna2], ignore_index=True)

# Crear un nuevo df con las columnas 'valor' y 'origen'
nuevo_df = pd.DataFrame({'valor': nueva_columna, 'origen': origen})

print(nuevo_df)

                            valor      origen
0   2024-02-19 10:36:53.000 +0100    despegue
1   2024-02-19 10:37:53.000 +0100    despegue
2   2024-02-19 10:39:53.000 +0100    despegue
3   2024-02-19 10:40:53.000 +0100    despegue
4   2024-02-19 10:42:53.000 +0100    despegue
5   2024-02-19 10:43:53.000 +0100    despegue
6   2024-02-19 11:07:53.000 +0100    despegue
7   2024-02-19 11:05:53.000 +0100    despegue
8   2024-02-19 11:05:53.000 +0100    despegue
9   2024-02-19 14:36:53.000 +0100  aterrizaje
10  2024-02-19 14:37:53.000 +0100  aterrizaje
11  2024-02-19 14:39:53.000 +0100  aterrizaje
12  2024-02-19 14:40:53.000 +0100  aterrizaje
13  2024-02-19 14:42:53.000 +0100  aterrizaje
14  2024-02-19 14:43:53.000 +0100  aterrizaje
15  2024-02-19 15:07:53.000 +0100  aterrizaje
16  2024-02-19 15:05:53.000 +0100  aterrizaje
17  2024-02-19 15:05:53.000 +0100  aterrizaje

In [25]:
#Ordenar el df por tiempo en el que se han realizado las operaciones.
nuevo_df.sort_values(by='valor')

                            valor      origen
0   2024-02-19 10:36:53.000 +0100    despegue
1   2024-02-19 10:37:53.000 +0100    despegue
2   2024-02-19 10:39:53.000 +0100    despegue
3   2024-02-19 10:40:53.000 +0100    despegue
4   2024-02-19 10:42:53.000 +0100    despegue
5   2024-02-19 10:43:53.000 +0100    despegue
7   2024-02-19 11:05:53.000 +0100    despegue
8   2024-02-19 11:05:53.000 +0100    despegue
6   2024-02-19 11:07:53.000 +0100    despegue
9   2024-02-19 14:36:53.000 +0100  aterrizaje
10  2024-02-19 14:37:53.000 +0100  aterrizaje
11  2024-02-19 14:39:53.000 +0100  aterrizaje
12  2024-02-19 14:40:53.000 +0100  aterrizaje
13  2024-02-19 14:42:53.000 +0100  aterrizaje
14  2024-02-19 14:43:53.000 +0100  aterrizaje
16  2024-02-19 15:05:53.000 +0100  aterrizaje
17  2024-02-19 15:05:53.000 +0100  aterrizaje
15  2024-02-19 15:07:53.000 +0100  aterrizaje

In [38]:
uas_volando = 0
max_uas_volando = 0
av = 0
c=0

# Iterar a través de cada fila
for _, row in nuevo_df.iterrows():
    if row['origen'] == 'despegue':
        #En el momento que despega un dron se suma un token a la var uas_volando
        uas_volando += 1
    else:
        #En el momento que aterriza un dron se resta un token a la var uas_volando
        uas_volando -= 1
    # Actualiza el máximo recuento de uas volando simultáneamente
    max_uas_volando = max(max_uas_volando, uas_volando)
    av = av+uas_volando
    c+=1 #Total de operaciones 

av = av/c 
print("Máximo número de UAS volando simultáneamente: ", max_uas_volando)
print("El promedio de UAS volando simultáneamente: ", av)

Máximo número de UAS volando simultáneamente:  9
El promedio de UAS volando simultaneamente:  4.5

### Dibujar la ruta

In [57]:
#Api par introduir el fons de google maps.
import os
import types

import cartopy.io.img_tiles as img_tiles
import requests
import PIL

class CachedTiler(object):
    def __init__(self, tiler):
        self.tiler = tiler

    def __getattr__(self, name):
        attr = getattr(self.tiler, name, None)
        if isinstance(attr, types.MethodType):
            attr = types.MethodType(attr.__func__, self)
        return attr

    def get_image(self, tile):
        tileset_name = '{}'.format(self.tiler.__class__.__name__.lower())
        cache_dir = os.path.expanduser(os.path.join('~/', 'image_tiles', tileset_name))
        if not os.path.exists(cache_dir):
            os.makedirs(cache_dir)
        tile_fname = os.path.join(cache_dir, '_'.join(str(v) for v in tile) + '.png')
        if not os.path.exists(tile_fname):
            response = requests.get(self._image_url(tile),
                                    stream=True)

            with open(tile_fname, "wb") as fh:
                for chunk in response:
                    fh.write(chunk)
        with open(tile_fname, 'rb') as fh:
            img = PIL.Image.open(fh)
            img = img.convert(self.desired_tile_form)     
        return img, self.tileextent(tile), 'lower'

In [71]:
uas = input("Introdueix uuid del UAS: ")

Introdueix uuid del UAS:  19af00d8-6546-4746-8fd7-ae20b6dcc3bf

In [79]:
# Cadena de entrada con las coordenadas de los drones
fila = df[df["uuid"] == uas]
cadena_coordenadas = fila["geometry"].iloc[0]

# Eliminar la parte inicial y final de la cadena para obtener solo las coordenadas
cadena_coordenadas = cadena_coordenadas.replace("POLYGON Z((", "").replace("))", "")

# Separar las coordenadas por comas y luego dividir cada coordenada en latitud y longitud
coordenadas = cadena_coordenadas.split(", ")
coordenadas = [coord.split()[:2] for coord in coordenadas]

# Convertir las cadenas a flotantes y crear la lista de coordenadas
coordenadas_drones = [(float(coord[0]), float(coord[1])) for coord in coordenadas]

print(coordenadas_drones)

[(-8.394126, 43.330487), (-8.394743, 43.33029), (-8.395102, 43.330797), (-8.3944, 43.330996), (-8.394341, 43.330905), (-8.394802, 43.330774), (-8.394609, 43.330462), (-8.39419, 43.330591), (-8.394126, 43.330487)]

In [82]:
import gmplot
for i in coordenadas_drones:
    # Centra el mapa en el primer par de coordenadas
    gmap = gmplot.GoogleMapPlotter(i[0], i[1], zoom=6)

    # Dibuja la ruta del dron
    latitudes, longitudes = zip(*coordenadas_drones)
    gmap.plot(latitudes, longitudes, 'cornflowerblue', edge_width=10)

# Guarda el mapa en un archivo HTML
gmap.draw("ruta_dron.html")